h1 {
    display: flex;
    justify-content: center;
}

.inputContainer {
    display: flex;
    justify-content: center;
}

#contenedor {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.caja {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 100px;
    height: 150px;
    margin: 10px;
}

span {
    margin-left: 10px;
    padding: 5px;
}

.image {
    object-fit: cover;
    width: 100%;
}


/* .parrafo:nth-child(2n+1) {
    background-color: lime;
    opacity: 0.4;
} */

.parrafo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: blue;
    /* word-wrap: break-word; */
}